* {
  box-sizing: border-box; 
}

/* NAV */
nav {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  height: 100px;
  width: 100%;
}

#bluea {
  text-decoration: none;
  color: #3C76EB;
}

#bluea:hover {
    background-color:  #3C76EB;
    color: #fff;
}

.activepage {
  background-color:  #3C76EB;
  color: #fff;
}


.logo-main {
    float: left;
    width: 160px;
}

.nav {
  height:50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

/* BODY */

body {
    margin:0;
    height: 100%;
    font-weight: 500px;
}

p {
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  font-family: 'Merriweather', serif;
  letter-spacing: .5px;
}

a {
font-weight: 700;
color: white;
position: relative;
font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    float: left;
    color: white;
}

ul {
  list-style-type: none;
  text-decoration: none;
  width: 100%;
}

.centered {
    text-align: center;
  }
  
  .mt {
    margin-top: 50px;
  }
  
  .mb {
    margin-bottom: 50px;
  }
  
  .mtb {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .mtb2 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .ptb {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .up {
    position: fixed;
    left: 0px;
    z-index: 2
  }
  
  .under{
    position: relative;
    left: 0px;
    top: 75px;
    z-index: 1;
  }
  
  .parallax-window {
    min-height: 400px;
    background: transparent;
  }
  
  .parallax {
    /* The image used */
  
    /* Full height */
    height: 700px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    top: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg1 {
    background-image: url(./img/par-1.jpg);
  }
  
  .bg2 {
    background-image: url(./img/par-2.jpg);
  }
  
  .bg3 {
    background-image: url(./img/par-3.jpg);
  }

li {
  float: right;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  display: block;
  color: #3C76EB;
  padding: 40px 20px 0px 20px;
}




/* FOR EDUCATORS PAGE */

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  color: white;
}

.blue-button {
  background-color: transparent;
  font: 1.3em 'Josefin Sans', sans-serif;
  display: inline-block;
  padding: .5em 1em;
  border-radius: 1.2em;
  border: 3px solid white;
  transition: border-color .5s ease;
  -webkit-border-radius: 1.2em;
  color: #fff;
}

.blue-button:hover {
  background-color: white;
  border: 3px solid white;
  color: #DF8B46;
}

a:active, a:hover {
  outline: 0 }

.intro {
  background-color: #BE3A2F;
  height: 500px !important;
  text-align: center;
}

.img-fluid {
  width: 700px;
  height: 400px;
}

#section-two {
background-color: #DF8B46;
height: 750px;
}

#section-three {
background-color: #3C76EB;
height: 460px;
}

.container {
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  height: 80px;
  width: 100%;
  padding: 20px;
  font-size: 1em;
  text-decoration: none;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

section {
  width: 100%;
  padding: 70px 250px 70px 250px;
  display: table;
  margin: 0;
  max-width: none;
}

/* FOOTER  */

footer {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
}

#footera {
  text-decoration: none;
  color: rgb(156, 154, 154);
  font-size: 15px;
}

.footer-logo {
  float: left;
}

#footera:hover {
  color:#3C76EB;
}


#footer {
  padding: 20px;
}

