
.logo-main {
    float: left;
    width: 160px;
    height: 70px;
}

.content-block-1 {
    width: 100%;
    height: 400px;
    padding: 20px;
    margin-top: 30px;
    float: left;
}

.content-block-2 {
    background-color: #BE3A2F;
    width: 100%;
    height: 400px;
    padding: 20px;
    margin-top: 30px;
    float: left;
}

.content-block-3 {
    background-color: #DF8B46;
    width: 100%;
    height: 400px;
    padding: 20px;
    margin-top: 30px;
    float: left;
}

body {
    margin: 30px;
    height: 100%;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 17px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    float: left;
}

ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: block;
    color: #3C76EB;
    padding: 20px;
}

nav {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: #3C76EB;
}

footer {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 200px;
}

footer a {
    text-decoration: none;
    color: #3C76EB;
}

.footer-logo {
    float: left;
    width: 160px;
    height: 70px;
}