
.logo-main {
    float: left;
    width: 160px;
    height: 70px;
}

.content-block-1 {
    width: 100%;
    height: 400px;
    padding: 20px;
    margin-top: 30px;
    float: left;
}

.content-block-2 {
    background-color: #BE3A2F;
    width: 100%;
    height: 400px;
    padding: 20px;
    margin-top: 30px;
    float: left;
}

.content-block-3 {
    background-color: #DF8B46;
    width: 100%;
    height: 400px;
    padding: 20px;
    margin-top: 30px;
    float: left;
}

body {
    margin: 30px;
    height: 100%;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 17px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    float: left;
}

ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.centered {
    text-align: center;
  
  }
  
  .mt {
    margin-top: 50px;
  }
  
  .mb {
    margin-bottom: 50px;
  }
  
  .mtb {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .mtb2 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .ptb {
    padding-top: 80px;
    padding-bottom: 80px;
  }

li {
    float: right;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: block;
    color: #3C76EB;
    padding: 20px;
}

nav {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: #3C76EB;
}

/* Green Section */

#green {
    padding-bottom: 50px;
    padding-top: 20px;
    background: #559b43;
    color: white;
  }
  
  #green h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
  }
  
  #green p {
    color: white;
    font-size: 16px;
  }

  /* Red Section */

#red {
    background: #f62459;
    padding-bottom: 50px;
    padding-top: 20px;
    color: white;
  }
  
  #red h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
  }
  
  #red p {
    color: white;
    font-size: 16px;
  }
  
/* Blue Section */

#blue {
    background: #19b5fe;
    padding-bottom: 50px;
    padding-top: 20px;
    color: white;
  }
  
  #blue h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
  }
  
  #blue p {
    color: white;
    font-size: 16px;
  }

footer {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 200px;
}

footer a {
    text-decoration: none;
    color: #3C76EB;
}

.footer-logo {
    float: left;
    width: 160px;
    height: 70px;
}

#footer {
    padding-bottom: 50px;
    padding-top: 50px;
    background: #010101;
    color: white;
  }
  
  #footer h3 {    
    color: white;
  }
