* {
  box-sizing: border-box; 
}

/* NAV */
nav {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  height: 100px;
  width: 100%;
}

#bluea {
  text-decoration: none;
  color: #3C76EB;
}

#bluea:hover {
    background-color:  #3C76EB;
    color: #fff;
}


.logo-main {
    float: left;
    width: 160px;
}

.nav {
  height:50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

/* BODY */

body {
    margin:0;
    height: 100%;
    font-weight: 500px;
}

p {
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  font-family: 'Merriweather', serif;
  letter-spacing: .5px;
}

a {
font-weight: 700;
color: #373B44;
position: relative;
font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 3em;
  display: block;
  color: white;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    float: left;
}

ul {
  list-style-type: none;
  text-decoration: none;
  width: 100%;
}

.centered {
    text-align: center;
  }
  
  .mt {
    margin-top: 50px;
  }
  
  .mb {
    margin-bottom: 50px;
  }
  
  .mtb {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .mtb2 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .ptb {
    padding-top: 80px;
  }

  .up {
    position: fixed;
    left: 0px;
    z-index: 2
  }

  .under{
    position: relative;
    left: 0px;
    top: 75px;
    z-index: 1;
  }

 

li {
    float: right;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    display: block;
    color: #3C76EB;
    padding: 40px 20px 0px 20px;
}


/* HOME PAGE CONTENT CHUNKS */

.whoweare {
  background-color: #BE3A2F;
  padding: 4%;
  }

.howwedoit {
  background-color: #DF8B46;
  padding: 4%;
}

.yourpart {
background-color: #8aa848;
padding: 4%;
}



.quote {
      background-image: url(./img/instrumentbgb.jpg);
      font-family: 'Josefin Sans', sans-serif;
      text-align: center;
      color: white;
      font-size: 20px;
      padding: 40px;
  }

  .more-content {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    font-size: 25px;
}
  

/* APPLY & SUCCESS PAGE */

.form-header {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    opacity: 0.8; 
    font-size: 25px;
}

#center {
    text-align: center;
}

.form {
    padding-top: 10%;
}


/* HEADER SECTION */

#headerapply {
    background-image: url(./img/applyheader.jpg);
    text-align: center;
    background-size: cover;
    color: black;
    height: 100%;
   
  }

  #headersuccess {
    background-image: url(./img/successheader.png);
    text-align: center;
    background-size: cover;
    color: black;
    height: 100%;
   
  }
  
  #header404 {
    background-image: url(./img/404.jpg);
    text-align: center;
    background-size: cover;
    color: black;
    height: 100%;
   
  }

  .boxapply {
    background-color:#46494d;
    opacity: 0.8; 
    vertical-align: middle;
    height:100%;
    width:100%;
} 

.boxsuccess {
  background-color: black;
  opacity: 0.8; 
  vertical-align: middle;
  height:100%;
  width:100%;
} 
  
  #headerapply h1 {
    padding: 5%;
    color: white;
    font-size: 50px;
    opacity: 1; 

  }


.submit-button {
  background-color: transparent;
  font: 1.3em 'Josefin Sans', sans-serif;
  display: inline-block;
  padding: .5em 1em;
  border-radius: 1.2em;
  border: 3px solid #8aa848;
  transition: border-color .5s ease;
  -webkit-border-radius: 1.2em;
  color: #8aa848;
    
  }

  .submit-button:hover {
    background-color: #8aa848;
    font: 1.3em 'Josefin Sans', sans-serif;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 1.2em;
    border: 3px solid white;
    transition: border-color .5s ease;
    -webkit-border-radius: 1.2em;
    color: #fff;
  }

/* Success BOXES */
.sbox1 {
    background-image: url(./img/card1.jpg);
    text-align: center;
    background-size: cover;
    padding: 0px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    height:400px;
    width:400px;
}

.sbox2 {
  background-image: url(./img/card2.jpg);
  text-align: center;
  background-size: cover;
  padding: 0px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  height:400px;
  width:400px;
}

.sbox3 {
  background-image: url(./img/card3.jpg);
  text-align: center;
  background-size: cover;
  padding: 0px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  height:400px;
  width:400px;
}

.success-header {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    font-size: 50px;
}

.whatnxt {
  background-color: #8aa848;
  padding: 3% 0%;
  }

.trythese {
    background-color: #3C76EB;
    padding: 3% 0%;
    }


/* Home Page Content */

.one-button, .two-button, .three-button {
  background-color: transparent;
  font: 1.3em 'Josefin Sans', sans-serif;
  display: inline-block;
  padding: .5em 1em;
  border-radius: 1.2em;
  border: 3px solid white;
  transition: border-color .5s ease;
  -webkit-border-radius: 1.2em;
  color: #fff;
}

.one-button:hover {
  background-color: white;
  border: 3px solid white;
  color: #BE3A2F;
}
.two-button:hover {
  background-color: white;
  border: 3px solid white;
  color: #DF8B46;
}

.three-button:hover {
  background-color: white;
  border: 3px solid white;
  color: #8aa848;
}

.success {
    background-color: #8aa848;
    padding: 5%;
    }


.container {
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  height: 80px;
  width: 100%;
  padding: 20px;
  font-size: 1em;
  text-decoration: none;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

section {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
}



/* FOOTER  */

footer {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
}

#footera {
    text-decoration: none;
    color: rgb(156, 154, 154);
    font-size: 15px;
}

.footer-logo {
    float: left;
}

#footera:hover {
    color:#3C76EB;
}


#footer {
    padding: 20px;
  }

 